body {
    background-image: url(bamboo.jpg);
    background-repeat: no-repeat;
}

h1 {
    height: 200px;
    text-align: center; padding: 100px; color: azure; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

h2 {
    text-align: center; padding-top: 1200px; color: darkgrey;
}

p {
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: darkgrey;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
.row {
    font-size: 0;
}